{% extends 'base.html' %} 

{% block content %}
<div class="container">
    <h1>{{post.title}}</h1>
    <p>작성자 : {{post.writer}} | 발행일 : {{post.pub_date}}</p>
    <hr>
    <p>
        본문
        <br>
        {{post.body}}
    </p>
    
<!-- ajax -->
    <form class="like_form">
    <!-- <form action="{% url 'like' post.id%}" method="get"> -->
        <input type="hidden" name = 'like' value="{{user}}">

                       
        {% if user.is_authenticated %}
            <!-- ajax -->
            <button type="button" id="like" class="btn btn-primary">좋아요(<span id="like_count">{{post.user.count}}</span>)</button>
            <!-- <button type="submit" id="like" >좋아요(<span id="like_count">{{post.user.count}}</span>)</button> -->
        {% else %}
            <button type="button" class="btn btn-primary" onclick="likeclick();">좋아요(<span id="like_count">{{post.user.count}}</span>)</button>
        {% endif %}  
        <p>이 글을 좋아 하는 사람 : </p>
            <sapn id="like_user">
            {% for user in post.user.all %}
            {{user}}
            {% endfor %}
            </sapn>
    </form>

    <script>
      function likeclick() {
        alert('먼저 로그인 해주세요.');
        window.location.href = '/accounts/login/';
      }
    </script>

    <br>
    {% if user.is_authenticated %}
      {% if post.writer == user.username %}
      <a href="{% url 'edit' post.id %}">수정하기</a> | 
      <a href="{% url 'delete' post.id %}">삭제하기</a> | 
      {% endif %}
    {% endif %} 

    <a href="{% url 'home' %}"> 뒤로 </a>
    <hr>
    <h2>댓글 ({{ comments.count }})</h2>
    {% for comment in comments %}
    작성자 : {{comment.writer}}
    <br>
    내용 : {{comment.content}}
    <hr>
    {% endfor%}
    <form action="{% url 'new_comment' post.id %}" method="POST">
        {% csrf_token %}
        <input name="writer" type="hidden" value="{{user}}">
        <textarea name="content" class="content_area"></textarea>
        <input type="submit" class="btn btn-primary">
    </form>
</div>

<script type="text/javascript">
  $("#like").on("click", function(){
    var pk = $(this).attr('name')
    $.ajax({ // .like 버튼을 클릭하면 <새로고침> 없이 ajax로 서버와 통신하겠다.
      type: "GET", // 데이터를 전송하는 방법을 지정
      url: "{% url 'like' post.id%}", // 통신할 url을 지정
      success: function(data){ // 통신 성공시 - 동적으로 좋아요 갯수 변경, 유저 목록 변경
        console.log($(data));
        console.log($(data).find('#like_user').text());
        console.log($(data).find('#like_count').text());
        
        $("#like_count").text($(data).find('#like_count').text());
        $("#like_user").text($(data).find('#like_user').text());
      },
      error: function(request, status, error){ // 통신 실패시 - 로그인 페이지 리다이렉트
        alert("ajax error")
      },
    });
  })
</script>

{% endblock %}

