{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <h1>블로그 글 목록</h1>
    
    
    <form class="form-inline" action="{% url 'search' %}" method="get">
        <div class="input-group">
            <select name="search_filter" class="form-control" style="margin-right: 10px;">
                <option value="title">제목</option>
                <option value="body">내용</option>
            </select>
            <input type="text" class="form-control" name='q' style="margin-right: 10px;" required="true">
            <button class="btn btn-secondary" type="submit">검색</button>
        </div>
    </form>


    {% if user.is_authenticated %}
    <hr>
    <h3>좋아요 누른 글 ({{liked_post.count}})</h3>
        {% for post in liked_post %}
        <a href="{% url 'detail' post.id %}">
            <li>{{post.title}}</li>
        </a>
        {% endfor %}
    {% endif %}
    <hr>
    <div class="row">
        {% for post in blogs %}
        <div class="col-md-12">
            <a href="{% url 'detail' post.id %}" class="card-link">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">작성자 : {{post.writer}} | {{post.pub_date}}</p>
                    <!-- <a href="{% url 'detail' post.id %}" class="btn btn-primary">more</a> -->
                </div>
            </div>
            </a>    
        </div>
        <hr>
        {% endfor %}
    </div>
    
    <div class="paginator">
        {% if blogs.has_previous%}
        <a href="?page=1">First</a>
        <a href="?page={{blogs.previous_page_number}}">Previous</a>
        {% endif %}

        <span>{{blogs.number}}</span>
        <span>of</span>
        <span>{{blogs.paginator.num_pages}}</span>

        {% if blogs.has_next%}
        <a href="?page={{blogs.next_page_number}}">Next</a>
        <a href="?page={{blogs.paginator.num_pages}}">Last</a>
        {% endif%}
    </div>    
</div>


{% endblock %}