{% extends 'base.html' %} 

{% block content %}
<div class="container">
    <h1>새 글 작성</h1>
    <hr>
    <form action="{%url 'create' %}" method="POST" class="new-form">
        {% csrf_token %}
        <p>제목</p>
        <input type="text" name='title'>
        <br>
        <br>
        <input type="hidden" name='writer' value="{{user}}">
        <br>
        <br>
        <p>본문</p>
        <textarea name="body" id=""></textarea>
        <br>
        <br>
        <button type='submit'>작성하기</button>
    </form>
</div>



{% endblock %}